@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;

  --color-dark-blue: #0b0d17;
  --color-light-blue: #d0d6f9;
  --color-grey: #979797;
}

@layer base {
  body {
    @apply bg-black;
  }

  h1 {
    @apply text-8xl sm:text-[144px];
  }

  h2 {
    @apply text-6xl sm:text-[80px];
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl sm:text-[40px];
  }

  h5 {
    @apply text-base sm:text-2xl;
  }

  p {
    @apply font-barlow text-base  leading-8;
  }
}

@layer components {
  .main-container {
    @apply w-full  mx-auto px-6 lg:px-24;
  }

  .page-content-container {
    @apply py-30;
  }

  .second-container {
    @apply mx-auto px-6 sm:px-24 max-w-[1640px];
  }

  .destination-stat-container {
    @apply flex flex-col space-y-1 uppercase text-center sm:space-y-4 lg:text-left;
  }

  .destination-stat-container h5 {
    @apply sm:text-sm;
  }

  .destination-stat-container h4 {
    @apply sm:text-4xl;
  }
}
