@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import "tailwindcss";

@theme {
  --font-bellefair: "Bellefair", serif;

  --color-light-blue: #d0d6f9;
  --color-grey: #979797;
}

@layer base {
  body {
    @apply bg-black;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-6xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-base;
  }
}

@layer components {
  .main-container {
    @apply w-full max-w-[1280px] mx-auto px-4;
  }

  .destination-stat-container {
    @apply flex flex-col space-y-1 uppercase text-center;
  }
}
